{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Core delivery platform Node.js Frontend Template."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
         SBI: {{ businessData.sbi }}
         Org ID: {{ businessData.organisationId }}
        </p>
      </div>
    </div>
  </div>

{% endblock %}
